

body {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


#canvas {
    width: 35%;
    height: 35%;
}

.toolbar {
    background-color:black;
    padding: 10px;
    padding-right: 1px;
    margin-right: 1px;
}


input:invalid {
    border-color: #f44336;
    border-style: solid;
}


.myfooter{
    background-color:black;
    padding: 10px;
    padding-right: 1px;
    margin-right: 1px;

    position: fixed;
    bottom: 1%;
    width: 96%;

}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: yellow;
    color: black;
}


td{
    width: 200px;
}

.inputField{
    width: 50%;
    padding: 0.5%;
    margin: 5px 10px 10px 20px;
    /*display: inline-block;*/
    font-weight: bold;
    text-align: center;
}



.keyboardBtn{
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    font-size: 14px;
    font-weight: bold;
    width: 120px;
    height: 120px;
}



.hidden{
    display:none;
}

.visible{
    display: inline;
}





/* Button animation */

.animation_btn {
    border-radius: 4px;
    background-color: yellow;
    border: none;
    color: black;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.animation_btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.animation_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.animation_btn:hover span {
    padding-right: 25px;
}

.animation_btn:hover span:after {
    opacity: 1;
    right: 0;
}

/* Fonts */

@font-face {
    font-family:"digital_font";
    src: url("digital_font.ttf") format("truetype");
}





.gameDigital{
    width: 10%;
    padding: 0.5%;
    margin: 5px 10px 10px 20px;
}



